@import "tailwindcss";

body {
    font-family: 'General', sans-serif;
    width: 100dvw;
    background-color: #dfdff0;
    overflow-x: hidden;
}

/* Custom Fonts */
@font-face {
    font-family: 'CircularWeb';
    src: url('/fonts/circularweb-book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General';
    src: url('/fonts/general.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobertMedium';
    src: url('/fonts/robert-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobertRegular';
    src: url('/fonts/robert-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zentry';
    src: url('/fonts/zentry-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    /* Blue shades */
    --color-blue-50: #DFDFF0;
    --color-blue-75: #DFDFF2;
    --color-blue-100: #F0F2FA;
    --color-blue-200: #101010;
    --color-blue-300: #4FB7DD;
    
    /* Violet shades */
    --color-violet-300: #5724ff;
    
    /* Yellow shades */
    --color-yellow-100: #8e983f;
    --color-yellow-300: #EDFF66;
    
    /* Font families for Tailwind utilities */
    --font-family-circular: CircularWeb, sans-serif;
    --font-family-general: General, sans-serif;
    --font-family-robert-medium: RobertMedium, sans-serif;
    --font-family-robert-regular: RobertRegular, sans-serif;
    --font-family-zentry: Zentry, sans-serif;
}


/* Font Utility Classes */
.font-zentry {
    font-family: 'Zentry', sans-serif;
}

.font-general {
    font-family: 'General', sans-serif;
}

.font-circular {
    font-family: 'CircularWeb', sans-serif;
}

/* Custom Utility Classes */
.border-hsla {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-hover-btn {
    position: relative;
    margin-left: 2.5rem;
    font-family: 'General', sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #DFDFF0;
    cursor: pointer;
}

.nav-hover-btn::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    height: 2px;
    width: 100%;
    transform-origin: bottom right;
    transform: scaleX(0);
    background-color: #262626;
    transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav-hover-btn:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.dark .nav-hover-btn::after {
    background-color: white;
}

.floating-nav {
    background-color: black;
    border-radius: 0.5rem;
    border: 1px solid;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.special-font b {
    font-family: "Zentry";
    font-feature-settings: "ss01" on;
}

.hero-heading {
    font-family: 'Zentry', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
}

@media (min-width: 640px) {
    .hero-heading {
        right: 2.5rem;
        font-size: 4.5rem;
    }
}

@media (min-width: 768px) {
    .hero-heading {
        font-size: 8rem;
    }
}

@media (min-width: 1024px) {
    .hero-heading {
        font-size: 8rem;
    }
}

.about-subtext {
    position: absolute;
    bottom: -80dvh;
    left: 50%;
    width: 100%;
    max-width: 24rem;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'CircularWeb', sans-serif;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .about-subtext {
        max-width: 34rem;
    }
}

.about-image {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 20;
    height: 60vh;
    width: 24rem;
    transform: translateX(-50%);
    transform-origin: center;
    overflow: hidden;
    border-radius: 1.5rem;
}

@media (min-width: 768px) {
    .about-image {
        width: 30vw;
    }
}

.animated-title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: 0.8;
    color: white;
}

@media (min-width: 640px) {
    .animated-title {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media (min-width: 768px) {
    .animated-title {
        font-size: 6rem;
    }
}

.animated-word {
    font-family: 'Zentry', sans-serif;
    font-weight: 900;
    opacity: 0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
}

.bento-tilt_1 {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
   /* grid-column: span 2; */
    overflow: hidden;
    border-radius: 0.375rem;
    transition: transform 0.3s ease-out;
}

@media (max-width: 767px) {
    .bento-tilt_1 {
        grid-column: span 2;
    }
}


.bento-tilt_2 {
    position: relative;
    grid-column: span 1;
    grid-row: span 1;
    overflow: hidden;
    border-radius: 0.375rem;
    transition: transform 0.3s ease-out;
}

.bento-title {
    font-family: 'Zentry', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.25rem;
}

@media (min-width: 768px) {
    .bento-title {
        font-size: 3.75rem;
    }
}

.story-img-container {
    position: relative;
    height: 90vh;
    width: 100%;
    filter: url("#flt_tag");
}

@media (min-width: 768px) {
    .story-img-container {
        height: 100dvh;
    }
}

.story-img-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
}

@media (min-width: 768px) {
    .story-img-mask {
        left: 20%;
        top: -10%;
        width: 80%;
        height: 80%;
    }
}

.story-img-content {
    position: absolute;
    width: 100%;
    height: 50dvh;
    opacity: 1;
    left: 2.5rem;
    top: 4rem;
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
}

@media (min-width: 768px) {
    .story-img-content {
        height: 100dvh;
        left: 0;
        top: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .story-img-content {
        left: -300px;
        top: -100px;
    }
}

.gallery-img-container {
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    background-color: #5724ff;
}

.gallery-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.gallery-img-4 {
    border-radius: 0.5rem;
}

@media (min-width: 640px) {
    .gallery-img-4 {
        width: 20rem;
        height: 20rem;
    }
}

@media (min-width: 768px) {
    .gallery-img-4 {
        width: 25rem;
        height: 24rem;
    }
}

.sword-man-clip-path {
    clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
}

.contact-clip-path-1 {
    clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
}

.contact-clip-path-2 {
    clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
}

.indicator-line {
    height: 0.25rem;
    width: 1px;
    border-radius: 9999px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.indicator-line.active {
    animation: indicator-line 0.5s ease infinite;
    animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
    0% {
        height: 4px;
        transform: translateY(-0px);
    }
    50% {
        height: 16px;
        transform: translateY(-4px);
    }
    100% {
        height: 4px;
        transform: translateY(-0px);
    }
}

/* Loading Animation */
.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5d3fd3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}

.three-body__dot:after {
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}

.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wobble1 {
    0%, 100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-66%) scale(0.65);
        opacity: 0.8;
    }
}

@keyframes wobble2 {
    0%, 100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(66%) scale(0.65);
        opacity: 0.8;
    }
}




/* Marquee Animation for Footer */
@keyframes marquee {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: flex;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

.marquee span {
    padding-right: 2rem;
}

.marquee-container {
    overflow: hidden;
    width: 100%;
}